<div class="center-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Usuário"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            submitted &&
            f.username.errors &&
            f.username.errors.required &&
            (f.username.touched || f.username.dirty)
          "
          >Usuário obrigatório</mat-error
        >
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Senha"
            formControlName="email"
            type="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            submitted &&
            f.email.errors &&
            f.email.errors.required &&
            (f.email.touched || f.email.dirty)
          "
          >E-mail é obrigatóri0</mat-error
        >
      </div>
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Senha"
            formControlName="email"
            type="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            submitted &&
            f.email.errors &&
            f.email.errors.required &&
            (f.email.touched || f.email.dirty)
          "
          >E-mail é obrigatóri0</mat-error
        >
      </div>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="loading"
          *ngIf="!loading"
        >
          Login
        </button>
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <button mat-raised-button (click)="register()">Cadastrar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
