<div class="wrapper">
  <div *ngIf="vistorias.length > 0">
    <div class="vistorias">
      <div class="vistoria" *ngFor="let vistoria of vistorias">
        <div>
          <div class="vistoria-title">
            <h5>Status:</h5>
            <span class="label label-primary">
              {{ vistoria.status }}
            </span>
            <div class="vistoria-tools" *ngIf="canEdit && vistoria.status === 'Em andamento'">
              <a class="collapse-link" (click)="seeLaudo(vistoria)">
                <mat-icon matTooltip="Editar" matTooltipPosition="above"
                  >edit</mat-icon
                >
              </a>
            </div>
          </div>
          <div class="vistoria-content">
            <div>
              <span class="details">Cidade: </span>
              <span class="title"
                >{{ vistoria.cidade }} / {{ vistoria.estado }}
              </span>
            </div>
            <div class="mt-2">
              <span class="details">Data Laudo: </span>
              <span class="title">{{ vistoria.visita | date }}</span>
            </div>
            <div class="mt-2">
              <span class="details">Tipo laudo: </span>
              <span class="title">{{ vistoria.tipos_laudo }}</span>
            </div>
            <div class="mt-2">
              <span class="details">Usuário responsável: </span>
              <span class="title">{{ vistoria.user.nome }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
