<div class="wrapper">
  <div *ngIf="dataSource || vistorias.length > 0">
    <div class="vistoria" *ngFor="let vistoria of vistorias">
      <div class="vistoria-title">
        <h5>Status:</h5>
        <span class="label label-primary">
          {{ vistoria.status }}
        </span>
        <div class="vistoria-tools">
          <a class="collapse-link" (click)="seeLaudo(vistoria)">
            <mat-icon matTooltip="Editar" matTooltipPosition="above"
              >edit</mat-icon
            >
          </a>
        </div>
      </div>
      <div class="vistoria-content">
        <div class="float-right text-right">
          <span>Mapa aqui</span>
        </div>
        <h4>{{ vistoria.cidade }} - {{ vistoria.estado }}</h4>
      </div>
    </div>
  </div>
</div>
