<div class="wrapper">
  <!-- <div fxLayout="row" fxLayoutAlign="space-around center">
    <h3>Pesquisar por:</h3>
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value, 'tipos_laudo')"
        placeholder="Tipos de laudo"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value, 'status')"
        placeholder="Status"
      />
    </mat-form-field>
  </div> -->

  <div *ngIf="dataSource || vistorias.length > 0">
    <div class="vistoria" *ngFor="let vistoria of vistorias">
      <div class="vistoria-title">
        <h5>Status:</h5>
        <span class="label label-primary">
          {{ vistoria.status }}
        </span>
        <div class="vistoria-tools">
          <a class="collapse-link" href="">
            <mat-icon matTooltip="Editar" matTooltipPosition="above"
              >edit</mat-icon
            >
          </a>
        </div>
      </div>
      <div class="vistoria-content">
        <div class="float-right text-right">
          <span>Mapa aqui</span>
        </div>
        <h4>{{ vistoria.cidade }} - {{ vistoria.stado }}</h4>
      </div>
    </div>
  </div>

  <swal
    #deleteSwal
    title="Excluir empresa"
    text="Essa ação não pode ser revertida"
    type="warning"
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="confirmDelete()"
  ></swal>
</div>
