<div class="modal-header">
  <h2 matDialogTitle>Editar Informações</h2>
  <button class="btn-close" mat-icon-button matDialogClose>
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-dialog-content>
  <file-drop
    dropZoneClassName="image-upload-dropzone"
    contentClassName="image-upload-content"
    (onFileDrop)="dropped($event)"
    (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)"
    [showBrowseBtn]="true"
    browseBtnClassName="mat-raised-button mat-primary"
    browseBtnLabel="Enviar arquivo"
    *ngIf="imageBase64 == null"
  >
    <mat-icon>cloud_upload</mat-icon>
  </file-drop>
  <image-cropper
    *ngIf="!cropFinished"
    [imageBase64]="imageBase64"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="150"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div class="preview-actions">
    <img class="avatar-preview" *ngIf="cropFinished" [src]="croppedImage" />
    <button
      *ngIf="!cropFinished && croppedImage !== ''"
      mat-raised-button
      color="primary"
      (click)="confirmImage()"
    >
      Confirmar
    </button>
    <button
      *ngIf="cropFinished"
      mat-raised-button
      color="primary"
      (click)="changeImage()"
    >
      Trocar imagem
    </button>
  </div>
  <form class="form" [formGroup]="form">
    <mat-form-field class="mat-form-field">
      <input formControlName="cnpj" matInput placeholder="Cnpj" />
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input
        formControlName="nome_fantasia"
        matInput
        placeholder="Nome Fantasia"
        required
      />
      <mat-error *ngIf="form?.hasError('required', 'nome_fantasia')"
        >Nome fantasia é obrigatório</mat-error
      >
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input
        formControlName="razao_social"
        matInput
        placeholder="Razão Social"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Empresas contratantes</mat-label>
      <mat-select formControlName="empresacons" multiple>
        <mat-option *ngFor="let empresa of empresasList" [value]="empresa.id">{{
          empresa.nome_fantasia
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mat-form-field">
      <input
        formControlName="email"
        matInput
        placeholder="E-mail"
        type="email"
      />
      <!-- <mat-error *ngIf="form?.hasError('email', 'email')"
        >Formato de e-mail inválido</mat-error
      > -->
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input formControlName="telefone" matInput placeholder="Telefone" />
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input
        formControlName="inscricao_estadual"
        matInput
        placeholder="Inscrição Estadual"
      />
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input
        formControlName="inscricao_municipal"
        matInput
        placeholder="Inscrição Municipal"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Cep"
        formControlName="cep"
        (blur)="consultaCep($event.target.value)"
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Bairro" formControlName="bairro" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Cidade" formControlName="cidade" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Estado" formControlName="estado" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Endereço" formControlName="endereco" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Compemento" formControlName="complemento" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Número"
        formControlName="numero"
        type="number"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="actions">
  <button
    (click)="save()"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
  >
    <mat-icon>
      save
    </mat-icon>
    Salvar
  </button>
</div>
