$laudo-pallete: (
  50: #fbf6ea,
  100: #f5e7ca,
  200: #eed8a6,
  300: #e7c882,
  400: #e1bc68,
  500: #dcb04d,
  600: #d8a946,
  700: #d3a03d,
  800: #ce9734,
  900: #c58725,
  A100: #ffffff,
  A200: #ffebce,
  A400: #ffd69b,
  A700: #ffcb81,
  contrastDefaultColor: "light",
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
