// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./style/pallete.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$laudo-primary: mat-palette($laudo-pallete);
$laudo-accent: mat-palette($laudo-pallete, A200, A100, A400);

// The warn palette is optional (defaults to red).
$laudo-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$laudo-theme: mat-light-theme($laudo-primary, $laudo-accent, $laudo-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($laudo-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #fafafa;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.auth {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // background: linear-gradient(
    //   to top right,
    //   map-get($laudo-pallete, 600),
    //   map-get($laudo-pallete, 100)
    // );
  }
}

.wrapper {
  padding: 1rem 1rem 2rem;
  max-height: calc(100% - 64px);
  height: 100%;
  overflow: auto;
  height: 100%;
  overflow: auto;
}

.mat-progress-bar {
  position: absolute !important;
  top: 0;
  left: 0;
}

.image-upload-dropzone {
  margin: auto;
  height: 150px;
  min-width: 150px;
  max-width: 200px;
  border: 2px solid #6aa84f;
  border-radius: 4px;
}

.image-upload-content {
  color: #6aa84f;
  height: 150px;
  min-width: 150px;
  max-width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logotipo-image-cropper {
  width: 150px;
}

.space {
  flex: 1 1 auto;
}

image-cropper {
  width: 200px !important;
  margin: auto;
  height: auto !important;
}

.preview-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    max-width: 200px;
  }
  .avatar-preview {
    margin-bottom: 1rem;
  }
}

.avatar-content {
  object-fit: cover;
}
