:host {
  ::ng-deep {
    .mat-dialog-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 0 10px;
    }

    .mat-form-field {
      font-size: 14px;
    }
  }
}

.item-image-input {
  display: none;
}

.foto-grid {
  .remove {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999999;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}
