<!-- <h1>Hi {{ currentUser.firstName }}!</h1>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{ user.username }} -
    <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
</ul> -->

<mat-drawer-container class="drawer-container" [hasBackdrop]="false">
  <mat-drawer class="sidenav" #drawer mode="side">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a routerLink="/dashboard" mat-list-item>
        Link 1
      </a>
      <a routerLink="/dashboard" mat-list-item>
        Link 2
      </a>
      <a mat-list-item>
        Sair
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-navbar></app-navbar>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
