<div class="modal-header">
  <h2 matDialogTitle>Editar Informações</h2>
  <button class="btn-close" mat-icon-button matDialogClose>
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="form">
    <form class="form" [formGroup]="form">
      <ng-template matStepLabel>Ambientes</ng-template>
      <mat-form-field class="mat-form-field">
        <input formControlName="nome" matInput placeholder="nome" />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form2">
    <form [formGroup]="form2">
      <ng-template matStepLabel>Vistorias</ng-template>
      <mat-form-field class="mat-form-field">
        <input
          formControlName="cep"
          (blur)="consultaCep($event.target.value)"
          matInput
          placeholder="Cep"
        />
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <input formControlName="endereco" matInput placeholder="endereco" />
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <input formControlName="cidade" matInput placeholder="cidade" />
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <input formControlName="bairro" matInput placeholder="bairro" />
      </mat-form-field>
      <mat-form-field class="mat-form-field">
        <input formControlName="numero" matInput placeholder="numero" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
